<!DOCTYPE html>
<html>
  <head>
    <title>Myrails5store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= scrivito_head_tags %>
  </head>

  <body>
    <%= yield %>
    <%= scrivito_body_tags %>
  </body>
</html>
